@{
    Layout = null;
    var categories = (List<ProductCategory>) ViewData["categories"];
}

@foreach (var category in categories)
{
    <li>
        <a class="dropdown-item" href="#" data-cat-id="@category.Id">@category.Name</a>
    </li>
}

<script>
    $(document).ready(function () {
        var categoriesMenu = $('#dropdownMenuCategory').next();
        categoriesMenu.children().each(function () {
            $(this).children(0).attr("href", window.location.protocol + '//' +
             window.location.host + '/product/bycategory/' + $(this).children(0).attr('data-cat-id'))
        });
    });    
</script>
