<div class="row container">
    <p>    
        <h3>Your payment has failed</h3><br><br>
        <h5>Funds haven't been taken from your account</h5>
        <h5>Contact with your bank to resolve problem</h5>
        <h5 class="text-muted">Thank you for shoping in Our Super Shop. Try again!</h5>
        <h5 class="text-muted">Please do not respond for this message. It's generated automatically</h5>
    </p>
</div>

