@model Data.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h1>Register</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-2 control-label">
        <label asp-for="Username"></label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="col-md-2 control-label">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-md-2 control-label">
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="col-md-2 control-label">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div style="padding-top: 10px">
        <input type="submit" value="Register"/>
    </div>

</form>